
@media screen and (max-width: 768px) {

    .container {
        width: auto;
    }

    html, body {
        width: auto;
        overflow-x: hidden;
    }

    /*Begin topbar*/
    .topbar .btn-top-row {

        margin-top: 8px;
    }

    .topbar .btn-top-row > span {
        color: grey;
        font-size: 12px;
        margin-left: 18px;
        padding-top: 10px;
    }

    .topbar .icon-top-row {
        float: right;
    }

    .topbar .btn-top-row .btn {
        font-size: 8px;
        border-radius: 5px;
        padding: 5px 9px;
    }

    .topbar .login, .Register, .English {
        font-size: 12px;
        vertical-align: middle;
        line-height: 7px;
        margin-top: 10px;

    }

    /*End topbar*/
    /*Begin header*/
    header .logo {

        vertical-align: middle;
        margin: 0px auto;
        width: auto;
        height: auto;
        max-height: 65px;

    }

    header .menubar > button {
        font-size: 8px;
        margin-top: -46px;
    }

    header .form > input[type=text] {
        float: right;
        width: 20px;
        margin: -48px 110px 0 0;
        padding: 9px 12px 8px 30px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    header .form > input[type=text]:focus {
        width: 35%;
    }

    header .nav > li {
        color: grey;
    }

    header .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 12px;
        color: grey;
    }

    header .menu .navbar-header .navbar-toggle {
        position: relative;
        float: left;
        margin-right: 15px;
        padding: 9px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-left: auto;
        text-align: right;
        color: grey;
    }

    header .menu .navbar-header .navbar-toggle:focus {
        outline: 0
    }

    header .menu .navbar-header .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px
    }

    header .menu .navbar-header .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 4px
    }

    header .menu .navbar-header .navbar-toggle:hover,
    header .menu .navbar-toggle:focus {
        background-color: #ddd;
        text-align: right;
    }

    header .menu .navbar-header .navbar-toggle .icon-bar {
        background-color: black;
    }

    header .menu .divid-menu .title-menu .dropdown .dropdown-toggle .menu-caret {
        font-size: 16px;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent

    }

    header .menu .divid-menu .title-menu .dropdown .dropdown-toggle {
        font-size: 15px;
    }

    header .menu .divid-menu .title-menu .dropdown > ul > li {

        border-bottom: solid 0.1px #F0F0F0;
        padding: 7px 5px;
        color: grey;
    }

    header .menu .divid-menu .title-menu .dropdown > ul > li:last-child {
        border-bottom: none;
        padding: 7px 5px;
    }

    header .menu .divid-menu .title-menu .dropdown > ul > li :focus,
    .dropdown > ul > li :visited {

        color: #ffa507;
        background-color: #FFFFFF;
    }

    header .menu .divid-menu .title-menu .dropdown > ul > li > a {

        text-align: left;

    }

    header .menu .divid-menu .title-menu .dropdown > ul > li > a > :focus,
    .dropdown > ul > li > a > :visited {

        color: #ffa507;
        background-color: #FFFFFF;
    }

    /*End header*/
    /*Begin slider*/
    .slider .carousel-inner .item .label-slide-container {
        max-width: 450px;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }

    .slider .carousel-inner .item .label-slide-container .label-slide {
        position: absolute;
        bottom: 0px;
        left: 90px;
        margin-right: 0px;
        max-width: 190px;
        direction: rtl;
        color: white;
    }

    .slider .carousel-inner .item .label-slide-container .right {
        right: 10px;
    }

    .slider .carousel-inner .item .label-slide-container .left {
        left: 10px;
    }

    .slider .carousel-inner .item .label-slide-container .label-slide > span {
        display: block;
    }

    .slider .carousel-inner .item .label-slide-container .label-slide > span:first-child {

        font-size: 10px;
        text-align: center;
    }

    .slider .carousel-inner .item .label-slide-container .label-slide > span:nth-child(2) {

        font-size: 10px;
        font-weight: bold;
        padding: 0 0 12px 5px;
        text-align: center;
        margin: 0;

    }

    .slider .carousel-inner .item .label-slide-container .label-slide > .link {
        text-align: right;
    }

    .slider .carousel-inner .item .label-slide-container .label-slide > .link > a:first-child {
        display: inline-block;
        padding: 7px 10px;
        background-color: red;
        width: auto;
        margin-top: 2px;
        margin-bottom: 20px;
        margin-right: 33px;
        color: white;
        border-radius: 4px;
        font-weight: bold;
        font-size: 6px;
    }

    .slider .carousel-inner .item .label-slide-container .label-slide > .link > a:last-child {
        display: inline-block;
        padding: 7px 10px;
        background-color: white;
        width: auto;
        margin-top: 2px;
        margin-bottom: 20px;
        margin-right: 7px;
        color: black;
        border-radius: 4px;
        font-weight: bold;
        font-size: 6px;
    }

    .slider .slide .left-arrow-leftbox {
        position: relative;
        top: 55px;
        left: -2px;
        line-height: 1;
        font-style: normal;
        display: inline-block;
        color: red;
        background-color: white;
        padding: 2px 4px 2px 4px;
        border-radius: 5px 0 0 5px;
        font-size: 11px;

    }

    .slider .slide .left-arrow-rightbox {
        position: relative;
        top: 52px;
        left: 20px;
        display: inline-block;
        background-color: red;
        padding: 2px 8px 4px 8px;
        border-radius: 0 5px 5px 0;
        font-size: 10px;

    }

    .slider .slide .left-arrow-downbox {
        position: relative;
        top: 55px;
        left: 12px;
        display: inline-block;
        padding: 2px 12px 5px 12px;
        font-size: 8px;

    }

    .slider .slide .right-arrow-rightbox {

        top: 52px;
        right: 2px;
        line-height: 1;
        font-style: normal;
        color: red;
        background-color: white;
        padding: 2px 4px 2px 4px;
        border-radius: 0 5px 5px 0;
        font-size: 11px;
    }

    /*End slider*/
    /*Begin comp-1 */
    .comp-1 {
        height: auto
    }

    .comp-1 .box1-comp-1 {
        background-color: #128538;
    }

    .comp-1 .box2-comp-1 {
        background-color: #0072E4;
    }

    .comp-1 .box3-comp-1 {
        background-color: #BE1E2D;
    }

    .comp-1 .box4-comp-1 {
        background-color: #AFC211;
    }

    .comp-1 .box5-comp-1 {
        background-color: #A03EBA;
    }

    .comp-1 .box6-comp-1 {
        background-color: #DE176A;
    }

    .comp-1 .box1-comp-1,
    .comp-1 .box2-comp-1,
    .comp-1 .box3-comp-1,
    .comp-1 .box4-comp-1,
    .comp-1 .box5-comp-1,
    .comp-1 .box6-comp-1 {
        height: auto;
        width: 50%;
        margin-left: 90px;
        margin-bottom: 10px;

    }

    .comp-1 .box1-comp-1 > img,
    .comp-1 .box2-comp-1 > img,
    .comp-1 .box3-comp-1 > img,
    .comp-1 .box4-comp-1 > img,
    .comp-1 .box5-comp-1 > img,
    .comp-1 .box6-comp-1 > img {

        margin: 12px 0 12px 75px;
        width: 19%;
        height: 19%;
    }

    .comp-1 .box1-comp-1 > p {

        color: white;
        font-size: 7px;
        padding: 20px 0 30px 65px;
    }

    .comp-1 .box2-comp-1 > p {

        color: white;
        font-size: 7px;
        padding: 20px 0 30px 65px;
    }

    .comp-1 .box3-comp-1 > p {
        color: white;
        font-size: 7px;
        padding: 10px 0 30px 65px;
    }

    .comp-1 .box4-comp-1 > p {
        color: white;
        font-size: 7px;
        padding: 20px 0 30px 65px;
    }

    .comp-1 .box5-comp-1 > p {
        color: white;
        font-size: 7px;
        padding: 10px 0 30px 65px;
    }

    .comp-1 .box6-comp-1 > p {
        color: white;
        font-size: 7px;
        padding: 20px 0 30px 65px;
    }

    /*End comp-1*/
    /*Begin comp-2*/
    .comp-2 .title-aboutus > p:first-child {
        /* m.argin: 50px 300px 0px 540px;*/
        text-align: center;
        padding-top: 50px;
    }

    .comp-2 .title-aboutus > p:last-child {

        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding: 20px 0 0 0;
    }

    .comp-2 .content-aboutus {
        width: 80%;
        margin: auto;
        color: grey;
    }

    .comp-2 .content-aboutus > p {
        padding-top: 20px;
        line-height: 22px;
        text-align: justify;
    }

    .comp-2 .arrow_box {
        position: relative;
        background: red;
        font-size: 1.5px;
        padding: 0 25px;
        margin-left: 150px;
    }

    .comp-2 .arrow_box:after, .arrow_box:before {
        top: 100%;
        right: 40%;
        border: solid transparent;
        content: "";
        height: 0px;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .comp-2 .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: red;
        border-width: 5px;
        margin-left: -25px;
    }

    .comp-2 .btn {

        margin: 20px 0 20px 100px;
        background-color: black;
        font-size: 14px;
        color: white;
        padding: 8px 23px;
        -webkit-box-align: center;
        -moz-box-align: center;

    }

    /*End comp-2*/
    /*Begin comp-3*/
    .comp-3 {
        background: url('../template/images/background1.png');
    }

    .comp-3 .content1-comp-3 {
        padding-top: 100px;
    }

    .comp-3 .content1-comp-3 .icon-content1-comp-3 {
        display: inline-block
    }

    .comp-3 .content1-comp-3 .icon-content1-comp-3 > img {
        margin-top: 35px;
        background-color: white;
        margin-bottom: 30px;
    }

    .comp-3 .content1-comp-3 .first-span {

        width: 75%;
        display: inline-block;
        margin: 0 0 0 20px;
        line-height: 25px;
        padding-right: 15px;
        font-size: 13px;
    }

    .comp-3 .content1-comp-3 .two-span {
        font-size: 15px;
        font-weight: bold;
        padding-right: 25px;
    }

    .comp-3 .content-middle-copm-3 {
        background-color: white;
    }

    .comp-3 .content-middle-copm-3 > img:first-child {
        position: absolute;
    }

    .comp-3 .content-middle-copm-3 > img:nth-last-child(even) {

        padding-top: 110px;
        z-index: 1;
        margin-left: -30px;
    }

    .comp-3 .content-middle-copm-3 .form-info {

        border-bottom: solid 1px #ccc;
    }

    .comp-3 .content-middle-copm-3 .form-info > p:nth-last-child(odd) {

        text-align: center;
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0px;
    }

    .comp-3 .content-middle-copm-3 .form-info > p:nth-last-child(even) {
        text-align: center;
        color: gray;
        width: 90%;
        margin: auto;
        line-height: 23px;
    }

    .comp-3 .content-middle-copm-3 .form-info .option-input {
        width: 80%;
        margin: auto;
        margin-top: 16px;
    }

    .comp-3 .content-middle-copm-3 .form-info .option-input > select {
        width: 100%;
        padding: 8px 6px 8px 10px;
        border: solid 1px #ccc;;
        color: gray;
        margin: 7px auto;
    }

    .comp-3 .content-middle-copm-3 .form-info .option-input > input[type=text] {
        width: 100%;
        padding: 8px 6px 8px 10px;
        border: solid 1px #ccc;;
        color: gray;
        margin: 7px auto;
    }

    .comp-3 .content-middle-copm-3 .form-info .option-input > button[type=submit] {

        width: 100%;
        text-align: center;
        padding: 8px 6px;
        margin: 7px 0px 25px 0px;
    }

    /*End copm-3*/
    /*Begin comp-4*/
    /* Begin css For just parallax*/
    .comp-4 .scrollList .parascroll .scrollable {

        position: absolute;
        background: url('../template/images/img1-comp-4.png') no-repeat;
        width: 100%;
        background-size: 100% 100%;
    }

    .comp-4 .scrollList {
        color: #fff;
        font-family: "Helvetica Neue", helvetica, arial, verdana, sans-serif;
        font-size: 1.2em;
        width: 100%;
    }

    .comp-4 ul.scrollList > li {
        overflow: hidden;
    }

    .comp-4 ul.scrollList,
    .comp-4 ul.scrollList > li {
        margin: 0;
        padding: 0;
        position: relative;
    }

    .comp-4 .scrollList .parascroll {
        min-height: 300px;
        position: relative;
        transform: translate3d(0px, 0px, 0px);
    }

    .comp-4 .scrollList .parascroll .scrollable {

        top: 0px;
        left: 0px;
        width: 100%;
        height: 600px;
        filter: blur(5px);
    }

    .comp-4 .scrollList .parascroll .paraContent {
        position: relative
    }

    .comp-4 .scrollList .parascroll .paraContent > ul > li > span,
    .comp-4 .scrollList .parascroll .paraContent > ul > li > img,
    .comp-4 .scrollList .parascroll .paraContent > ul > li > a {

        display: block;
    }

    /* End css For just parallax*/
    .comp-4 .scrollList .parascroll .paraContent > ul > li {
        width: 48%;
        display: inline-block;

    }

    .comp-4 .scrollList .parascroll .paraContent > ul > li > a {
        font-size: 14px;
        color: white;
        text-align: center;
        list-style-type: none;
    }

    .comp-4 .scrollList .parascroll .paraContent > ul > li > a:focus {

        text-decoration: none;
        color: white;
    }

    .comp-4 .scrollList .parascroll .paraContent > ul > li > img {

        margin: 35px 10px 25px 65px;
        width: 20%;
        height: 20%;

    }

    .comp-4 .scrollList .parascroll .paraContent > ul > li > span {

        text-align: center;
        color: red;
        font-size: 19px;
        font-weight: bold;
    }

    /*End comp-4*/
    /*Begin comp-5*/
    .comp-5 {
        padding-bottom: 50px;
    }

    .comp-5 .title-aboutus > p:first-child {
        text-align: center;
        margin-top: 50px;
    }

    .comp-5 .title-aboutus > p:last-child {

        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin: 20px 0 0 0;
    }

    .comp-5 .content-aboutus {
        width: 80%;
        margin: auto;
        color: grey;
    }

    .comp-5 .arrow_box {
        position: relative;
        background: red;
        font-size: 1.5px;
        padding: 0px 25px;
        margin-left: 150px;

    }

    .comp-5 .arrow_box:after, .arrow_box:before {
        top: 100%;
        right: 40%;
        border: solid transparent;
        content: "";
        height: 0px;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .comp-5 .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: red;
        border-width: 5px;
        margin-left: -25px;
    }

    .comp-5 .classes-item {

        width: 42%;
        display: inline-block;
        margin: 10px 3px;
        background-color: white;
        box-shadow: 0 1px 4px 0px rgba(158, 158, 158, 0.72);
        border-radius: 4px;
        margin-top: 20px;
        margin-left: 16px;
    }

    .comp-5 .classes-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .comp-5 .classes-item .img-classes-item > a > img {
        position: relative;
        width: 99.6%;
    }

    .comp-5 .classes-item .img-classes-item > a > span {
        position: absolute;
        background-color: red;
        padding: 4px 8px;
        color: white;
        top: 112px;
        left: 34px;
        border-radius: 3px;
        font-size: 9px;
    }

    .comp-5 .classes-item .info-classes {
        border-bottom: solid 1px #ccc;

    }

    .comp-5 .classes-item .info-classes > span {

        display: block;
        padding: 10px 0 4px 5px;
    }

    .comp-5 .classes-item .info-classes > span:first-child {

        color: black;
        font-size: 12px;
        font-weight: bold;

    }

    .comp-5 .classes-item .info-classes > span > i {

        display: inline-block;
        color: #ffd700;
    }

    .comp-5 .classes-item .price-classes > span {

        display: inline-block;
        padding: 15px 3px 6px 5px;
        font-size: 17px;
        color: red;
    }

    .comp-5 .classes-item .price-classes > span:last-child {

        padding-left: 5px;
        color: grey;
    }

    /*End comp-5*/
    /*Begin comp-6*/
    /* Begin css For just parallax*/
    .comp-6 .scrollList .parascroll .scrollable {

        position: absolute;
        background: url('../template/images/img1-comp-4.png') no-repeat;
        width: 100%;
        background-size: 100% 100%;
    }

    .comp-6 .scrollList {
        color: #fff;
        font-family: "Helvetica Neue", helvetica, arial, verdana, sans-serif;
        font-size: 1.2em;
        width: 100%;
    }

    .comp-6 ul.scrollList > li {
        overflow: hidden;
    }

    .comp-6 ul.scrollList,
    .comp-6 ul.scrollList > li {
        margin: 0;
        padding: 0;
        position: relative;
    }

    .comp-6 .scrollList .parascroll {
        min-height: 500px;
        position: relative;
        transform: translate3d(0px, 0px, 0px);
    }

    .comp-6 .scrollList .parascroll .scrollable {

        top: 0px;
        left: 0px;
        width: 100%;
        height: 600px;
        filter: blur(5px);
    }

    .comp-6 .scrollList .parascroll .paraContent {
        position: relative
    }

    .comp-6 .scrollList .parascroll .paraContent > ul > li > span,
    .comp-6 .scrollList .parascroll .paraContent > ul > li > img,
    .comp-6 .scrollList .parascroll .paraContent > ul > li > a {

        display: block;
    }

    /*End css For just parallax*/
    .comp-6 .scrollList .parascroll .paraContent > div:nth-child(2) > div:first-child {

        margin-top: 60px;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events {
        width: 68.8%;
        background-color: #e76d5cad;
        text-align: center;
        margin-bottom: 20px;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events:last-child {

        margin-left: -1px;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .day-events,
    .comp-6 .scrollList .parascroll .paraContent .time-day-events .info-events {

        display: inline-block;

    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .info-events {

        background-color: white;
        padding: 0px;
        width: 57%;
        height: auto;
        text-align: left;

    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .info-events > span {

        display: block;
        font-size: 9px;
        direction: ltr;
        line-height: 15px;
        color: grey;
        padding-left: 13px;

    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .info-events > span:first-child {

        color: black;
        font-size: 9px;
        font-weight: bold;
        padding: 9px 0 9px 13px;
        margin-top: 8px;

    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .info-events > span:nth-child(3) {

        padding-left: 13px;

    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .info-events .btn {

        padding: 6px 10px;
        margin: 5px 0 10px 13px;
        font-size: 10px;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .day-events {

        padding: 0 3px 4px 1px;
        border-radius: 2px;
        width: 39%;
        margin-left: 4px;
        vertical-align: top;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .day-events > span {

        display: block;
        text-align: center;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .day-events > span:first-child {

        padding-bottom: 30px;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .day-events > span:nth-last-child(odd) {
        font-size: 10px;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .day-events > span:nth-last-child(even) {

        font-size: 14px;
        font-weight: bold;
        padding-bottom: 3px;
    }

    .comp-6 .scrollList .parascroll .paraContent .time-day-events .day-events > span:nth-child(n+2) > span {

        display: inline-block;
        padding-right: 3px;
        padding-bottom: 10px;
    }

    .comp-6 .scrollList .parascroll .paraContent > ul > li {
        width: 24%;
        display: inline-block;

    }

    .comp-6 .title-aboutus > p:first-child {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 16px;
    }

    .comp-6 .title-aboutus > p:last-child {

        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }

    .comp-6 .arrow_box {
        position: relative;
        background: red;
        font-size: 1.5px;
        padding: 0 25px;
    }

    .comp-6 .arrow_box:after, .arrow_box:before {
        top: 100%;
        right: 40%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .comp-6 .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: red;
        border-width: 5px;
    }

    /*End comp-6*/
    /*Begin comp-7*/
    .comp-7 {

        padding-bottom: 50px;
    }

    .comp-7 .title-aboutus > p:first-child {
        text-align: center;
        margin-top: 50px;
    }

    .comp-7 .title-aboutus > p:last-child {

        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin: 10px;
    }

    .comp-7 .content-aboutus {
        width: 80%;
        margin: auto;
        color: grey;
    }

    .comp-7 .arrow_box {
        position: relative;
        background: red;
        font-size: 1.5px;
        padding: 0 25px;
        margin-left: 150px;
    }

    .comp-7 .arrow_box:after, .arrow_box:before {
        top: 100%;
        right: 40%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .comp-7 .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: red;
        border-width: 5px;
        margin-left: -25px;
    }

    .comp-7 .classes-item {

        width: 100%;
        display: inline-block;
        margin: auto;
        background-color: white;
        box-shadow: 0px 1px 4px 0px rgba(158, 158, 158, 0.72);
        border-radius: 4px;
        margin-top: 60px;
        margin-left: 16px;
    }

    .comp-7 .classes-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .comp-7 .classes-item .img-classes-item > a > img {
        position: relative;
        width: 99.6%;
    }

    .comp-7 .classes-item .img-classes-item > a > span {
        position: absolute;
        background-color: red;
        padding: 8px 12px;
        color: white;
        top: 300px;
        left: 34px;
        border-radius: 3px;
    }

    .comp-7 .classes-item .info-classes {
        border-bottom: solid 1px #ccc;

    }

    .comp-7 .classes-item .info-classes > span {

        display: block;
        padding: 10px 0 4px 20px;
    }

    .comp-7 .classes-item .info-classes > span:nth-child(n+2) {
        width: 90%;
        line-height: 20px;
        font-size: 13px
    }

    .comp-7 .classes-item .info-classes > span:last-child {

        padding-bottom: 30px;
    }

    .comp-7 .classes-item .info-classes .red-color {
        color: red;
    }

    .comp-7 .classes-item .info-classes .red-color:last-child {
        padding-left: 40px;
    }

    .comp-7 .classes-item .info-classes .gray-color {
        color: gray;
    }

    .comp-7 .classes-item .info-classes > span:first-child {

        color: black;
        font-size: 18px;
        font-weight: bold;
    }

    .comp-7 .classes-item .info-classes > span > i {

        display: inline-block;
        color: #ffd700;
    }

    /*End comp-7*/
    /*Begin comp-8*/
    .comp-8 {

        background: url('../template/images/blackbackgroun-comp-8.jpg');
        margin-bottom: 70px;
    }

    .comp-8 .blueman {

        margin: 14px 0 0 60px;
    }

    .comp-8 .testimonial {
        width: 95%;
        margin: 30px 0 0 -50px;
    }

    .comp-8 .testimonial > span,
    .comp-8 .testimonial > img {

        display: block;
        line-height: 20px;
        direction: ltr;
        padding-bottom: 20px;
    }

    .comp-8 .testimonial > span:nth-last-child(6) {

        font-size: 12px;
        font-weight: bold;
        color: white;
        padding-left: 100px;
    }

    .comp-8 .testimonial > span:nth-last-child(5) {

        font-size: 14px;
        color: whitesmoke;
        padding-left: 100px;

    }

    .comp-8 .testimonial > span:nth-last-child(3) {

        font-size: 22px;
        font-weight: bold;
        color: grey;
        padding: 40px 0 5px 100px;

    }

    .comp-8 .testimonial > span:nth-last-child(2) {

        font-size: 11px;
        color: grey;
        padding: 15px 0 5px 100px;

    }

    .comp-8 .testimonial .btn {

        padding: 7px 16px 7px 16px;
        margin: 15px 0 0 124px;

    }

    .comp-8 .testimonial > img {

        padding-left: 100px;
    }

    /*End comp-8*/
    /*Begin comp-9*/
    .comp-9 {
        background-color: whitesmoke;
        border-bottom: solid 4px red;
    }

    .comp-9 > div {
        overflow: hidden;
        width: 2600px;
    }

    .comp-9 > div > img {
        display: inline-block;
        width: 90px;
        height: auto;
        max-height: 120px;
        margin: -2px;
    }

    /*End comp-9*/
    /*Begin footer*/
    footer .img-about > img:last-child {

        box-shadow: 0 0 15px #ddd;
        padding: 30px 30px 30px 110px;
        width: 90%;
        margin-top: 85px;
    }

    footer .about {

        width: 95%;
        display: inline-block;
        padding-bottom: 0;
        padding-left: 10px;

    }

    footer .about > span > i {
        padding-left: 20PX;
    }

    footer .about:nth-child(2) > span:nth-child(3) {
        color: red;
    }

    footer .about:nth-child(4) {
        padding-left: 10px;

    }

    footer .about:nth-child(3) > span:nth-child(5) {
        color: red;
    }

    footer .about:nth-child(3) > span:nth-child(9) {
        color: red;
    }

    footer .about:nth-child(4) > span:nth-child(4) {
        color: red;
    }

    footer .about:nth-child(n+3) {
        padding-left: 10px;
    }

    footer .about:nth-child(n+2) {

        padding-top: 20px;;
    }

    footer .about:nth-child(2) > span:nth-child(2) {

        padding-left: 39px;
    }

    footer .about:nth-child(3) > span:nth-child(n+4):not(:nth-child(7)) {

        padding-left: 44px;
    }

    footer .about:nth-child(4) > span:not(:nth-child(2)) {

        padding-left: 10px;
    }

    footer .about .first {

        padding-top: 15px;
    }

    footer .about > span:not(.arrow_box ) {
        display: block;
        line-height: 32px;
    }

    footer .about .arrow_box {
        position: relative;
        background: red;
        font-size: 2px;
        padding: 0 25px;
        margin-left: 30px;
    }

    footer .about:nth-child(2) > span {
        font-size: 13px;
    }

    footer .about:nth-child(n+3) > span:nth-child(n+3) {

        font-size: 15px;
    }

    footer .about:nth-child(n+3) > span:first-child {

        font-size: 17px;
        font-weight: bold;
        padding-bottom: 7px;
        padding-left: 25px;
    }

    footer .about:nth-last-child(2) > span:nth-last-child(5) {

        padding-bottom: 15px;
    }

    footer .about:nth-last-child(2) > span:nth-last-child(8) {

        padding-top: 12px;
    }

    footer .about:nth-last-child(1) > span:nth-last-child(9) {

        padding-top: 15px;

    }

    .copyright-row {
        padding: 25px;
        background-color: gray
    }

    footer .copyright-row .copyright,
    footer .copyright-row .copyright-menu {

        display: inline-block;
    }

    footer .copyright-row .copyright, footer .copyright-row .copyright-menu {
        display: inline-block;
        text-align: right;
    }

    footer .copyright-row .copyright {

        color: white;
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    footer .copyright-row .copyright > span {
        padding-top: 10px;
    }

    footer .copyright-row .copyright-menu > ul > li {
        display: inline-block;
        list-style-type: none;
        padding-left: 5px;
    }

    footer .copyright-row .copyright-menu > ul > li > a {

        color: white;
        font-size: 14px;
    }

    footer .copyright-row .copyright-menu > ul > li > a :first-child {
        padding-left: 210px;
    }

    /*End footer*/
}

@media screen and (min-width: 1000px) {

    /*Begin slider*/


    .slider .slide .left-arrow-leftbox{
        position: relative;
        top:230px;
        left:2px;
        line-height: 1;
        font-style: normal;
        display: inline-block;
        color: red;
        background-color: white;
        padding: 11px 26px 11px 26px;
        border-radius: 1px 0 0 1px;

    }
    .slider .slide .left-arrow-rightbox{
        position: relative;
        top:230px;
        left:74px;
        display: inline-block;
        background-color: red;
        padding: 11px 26px 11px 26px;
        border-radius: 0 1px 1px 0;

    }
    .slider .slide .left-arrow-downbox{
        position: relative;
        top:230px;
        left:35px;
        display: inline-block;
        padding: 12px 24px 18px 24px;

    }
    .slider .slide .right-arrow-rightbox{

        top:230px;
        right:2px;
        line-height: 1;
        font-style: normal;
        display: inline-block;
        color: red;
        background-color: white;
        padding: 11px 26px 11px 26px;
        border-radius: 0 1px 1px 0;
    }


    /*End slider*/
    

}